@model  CustomReports.Models.Report
<h1>Report ID : @Model.Id</h1>
<h1>Report Name : @Model.ReportName</h1>
<h1>Cube Name : @Model.CubeName</h1>
<h1>Number Of Customers:  @Model.CustomerReports.Count</h1>
<hr />

<h1>List Of Customers</h1>
<table class="table">
    <thead>
        <tr>
            <td>Customer ID</td>
            <td>Customer Name</td>
            <td>Delete</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CustomerReports)
        {
            <tr>
                <td>@item.Customer.Id</td>
                <td>@item.Customer.CustomerName</td>
                <td><button class="btn btn-danger"> Delete </button></td>
            </tr>
        }
    </tbody>
</table>
<button class="btn btn-primary">Add Customer</button>